@font-face {
    /*
    font-family: "MullerRegular";
    src: url("//db.onlinewebfonts.com/t/a6c10f4967900a6f1d39f6996d20fec4.eot");
    src: url("//db.onlinewebfonts.com/t/a6c10f4967900a6f1d39f6996d20fec4.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a6c10f4967900a6f1d39f6996d0fec4.woff") format("woff");
    */
    font-family: "Gotham";
    src: url('../font/Gotham-Medium.woff2') format('woff2');
    src: url('../font/Gotham-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
}
a {
   text-decoration: none;
}
.main-header {
    height: 54px;
    padding: 15px 350px 0 15px;
}
.logo {
    color: white;
    width: 120px;
    height: 30px;
}
.main-header .logo {
    float: left;
}
.header_nav {
    float: right;
}
.header_nav li {
    list-style: none;
}
.header_nav_left {
    float: left;
    padding-right: 150px;
}
.header_nav_right {
    float: right;
}

.header_nav_item {
    float: left;
    padding-right: 28px;
}
.header_nav_item:last-child {
    padding-right: 0;
}
.header_nav li a{
    fon

}
.first_section {
    height: 800px;
    background-image: url(../images/M3-Hero-LHD-US-D.jpeg);
    background-repeat: no-repeat;
}

.section_header {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-top: 300px;
}
