@font-face {
    font-family: "Gotham";
    src: url(../font/GothamSSm-Medium_Web.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    
}
@font-face {
    font-family: 'GothamSSm-Light'; 
    src: url(../font/GothamSSm-Light_Web.woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GothamSSm-Bold'; 
    src: url(../font/GothamSSm-Bold_Web.woff2);
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'GothamSSm-Book'; 
    src: url(../font/GothamSSm-Book_Web.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham'; 
    src: url(../font/GothamSSm-XLight_Web.woff2);
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
}
a {
   text-decoration: none;
   color: white;
}
.logo {
    display: inline-block;
    position: fixed;
}



.main-header {
    height: 54px;
    width: 100%;
    padding: 15px 48px;
    position: absolute;
}
.logo {
    width: 120px;
    height: 30px;
    padding-top: 3px;
}
.logo-svg {
    fill: white;
}
.header_nav {
    width: 64.5vw;
    float: right;
}
.header_nav_right {
  float: right;
}
.header_nav_item {
    float: left;
    list-style: none;
    padding: 4px 16px; 
}
.header_nav_item:hover {
    background: #62666e;
    border-radius: 10px;
}

/* first section */ 


.first_section {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/M3-Hero-LHD-US-D.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_title{
    color: white;
    font-size: 39px;
    font-weight: 500;
    font-style: normal;
    line-height: 48px;
    text-align: center;
    padding-top: 140px;
}
.info {
 
    padding-bottom: 60px;
    position: absolute;
    bottom: 0;
    left: 33%;
    
}

.info_item {
    width: 160px;
    height: 66px;
    padding: 0 20px;
    float: left;
    list-style-type: none;
    text-align: center;
    
}
.info_icon {
    width: 40px;
    height: 25px;
    float: left;
}
.info_first_row {
    font-size: 28px;
    font-weight: 500;
}
.info_second_row {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
.info_first_row,
.info_second_row {
    color: white;
}
.info_item button {
    width: 160px;
    height: 40px;
    border: 3px solid white;
    border-radius: 22px;
    background: none;
   
    padding: 10px;
    color: white;
    font-size: 12px;
}
.scrol {
    box-sizing: border-box;
    position: fixed;
    top: 36vh;
    margin-left: 14px;
}
.scrol-item {
    width: 1px;
    height: 24px;
    background-color: white;
    margin-bottom: 8px;
    border: none;
    opacity: 26%;
}
.scrol-item_active {
    border: solid 1.5px white;
    margin-left: -2px;
    background: white;
    opacity: 90%;
}

/* section safety */

.safety {
    height: 100vh;
    width: 100vw;
    float: left;
}
.safety-header {
    font-size: 16px;
    font-weight: 300;
    color: #181b20;
}
.safety-title {
    font-size: 27px;
    font-weight: 500;
    padding-top: 6px;
    color: #181b20;
}
.safety-info {
    padding: 50px 50px;
    float: left;
    width: 23vw;
    height: 100vh;
}
.safety-description {
    font-family: "GothamSSm-Light";
    padding-top: 21px;
    color: #393c41;
}
.safety-img {
    float: right;
    height: 100vh;
    width: 77vw;
    background: #f5f5f5;
}
.safety-img-align {
    position: relative;
    top: 5vh;
}
.safety_img_size {
    max-width: 66vw;
}
.safety-star-tabl {
    max-width: 320px;
    margin-top: 15px;
    padding: 25px 25px;
    background-color: #e2e4e4;
    border-radius: 25px;
}
.safety-star-tabl h3 {
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #181b20;
}
.star_info_text {
    font-family: "GothamSSm-Bold";
    font-size: 14px;
    font-weight: 700;
    color: #393c41;
}
.star_info_additional {
    font-family: "GothamSSm-Book";
    font-size: 8px;
    font-weight: 400;
    line-height: 1;
    color: #393c41;
}
.safety_star_item {
    display: inline-block;
    width: 100%;
    padding-bottom: 2px;
}
.safety_info {
    float: left;
}
.stars {
    float: right;
    color: #393c41;
    font-size: 16px;
}
.safety_footer {
    position: relative;
    bottom: -25vh;
   
}
.safety_footer a {
    width: 34px;
    height: 34px;
    font-size: 20px;
}

.safety_footer .button_plus {
    float: left;
    width: 40px;
    height: 40px;
    background: none;
    border: solid 3px #181b20;
    border-radius: 25px;
    color: #181b20;
    font-size: 30px;
    line-height: 0.3;
}
.button_plus:hover {
    color: white;
    background: #181b20;
}
.safety_footer .info_item {
    float: right;
    margin-right: 14px;
}

.safety_footer button {
    width: 140px;
    height: 40px;
    border: 3px solid #181b20;
    background: none;
    border-radius: 28px;
    background: none;
    padding: 10px;
    color:  #181b20;
    font-size: 12px;
}
.safety_footer span {
    position: relative;
    top: 12px;
    left: 10px;
    color: #181b20;
    font-size: 12px;
}

.safety_footer button:hover {
    background-color: #181b20;
    color: white;
}

